# Pre-lecture hw

dataset csv file link: https://www.tablab.app/datasets/sample/csv

1. Import the data and confirm that the dataset has missing values

In [3]:
import pandas as pd

# URL of the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"

# Load the dataset into a pandas DataFrame
titanic_data = pd.read_csv(url)

# Check for missing values in the dataset
missing_values = titanic_data.isnull().sum()

# Display the missing values per column
print(missing_values)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

2.1 print out the numbers of columns and rows

In [2]:
print(f"Number of rows: {titanic_data.shape[0]}")
print(f"Number of columns: {titanic_data.shape[1]}")

Number of rows: 891
Number of columns: 15

2.2 definitions for the terms "observations" and "variables":



observations: individual rows of the dataset. 
    each observation is a single record or instance of data.
    Within the Titanic dataset, the observation/ row represents one passeger which has all their information like their name, age, fare and survival status.

variables: individual columns of the dataset.
    each variable is a characteristic measured or recorded for each observation. 
    Within the dataset, the variable/ column includes characteristics such as age, sex, fare, pclass, and survived for each passenger.

3 summaries

In [5]:
# Provide a statistical summary of the numerical and categorical columns
print("Statistical Summary of the Dataset:")
print(titanic_data.describe(include='all'))

# Overview of the dataset, including column types and missing values
print("\nGeneral Information about the Dataset:")
print(titanic_data.info())

# Apply .value_counts() to numerical columns
numerical_columns = ['survived', 'pclass', 'sibsp', 'parch']

# Loop through each numerical column and print the value counts
for col in numerical_columns:
    print(f"Value counts for '{col}':")
    print(titanic_data[col].value_counts())
    print("\n")

Statistical Summary of the Dataset:
          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

General Information about the Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
None
Value counts for 'survived':
survived
0    549
1    342
Name: count, dtype: int64


Value counts for 'pclass':
pclass
3    491
1    216
2    184
Name: count, dtype: int64


Value counts for 'sibsp':
sibsp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: count, dtype: int64


Value counts for 'parch':
parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64

### 4

df.shape gave the number of columns and rows.
df.describe() gave the summeries of only the numerical columns (int and floats), showing like survived, pclass, age, sibsp, parch and fare. 
df.describe(include='all') gave all the variables, both the numerical and non-numerical(object and booleans). adding in sex, class, who, adult_male, deck,  embark_town, alive and alone.

### 5

Attributes are characteristics of an object. They aren't function, they don't have parentheses (). df.shape is an attribute of a DataFrame, it returns a value, the dimensions of the DataFrame by its number of rows and columns.

Methods are functions defined with the object class and data of the object. it can use parameters as it is a function. it can also perform action or calculations.

## chatgpt summary

### Summary of Our Conversation

1. **Accessing the Titanic Dataset:**
   - To load the Titanic dataset from a URL, you can use:
     ```python
     import pandas as pd
     url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
     titanic_data = pd.read_csv(url)
     print(titanic_data.head())
     ```

2. **Checking for Missing Values:**
   - To check for missing values in the dataset:
     ```python
     missing_values = titanic_data.isnull().sum()
     print(missing_values)
     ```

3. **Number of Rows and Columns:**
   - To print the number of rows and columns:
     ```python
     print(f"Number of rows: {titanic_data.shape[0]}")
     print(f"Number of columns: {titanic_data.shape[1]}")
     ```

4. **Definitions:**
   - **Observations:** Individual data entries or records (rows). In the Titanic dataset, each observation represents one passenger.
   - **Variables:** Attributes or features that describe each observation (columns). In the Titanic dataset, variables include age, sex, fare, etc.

5. **Summarizing Columns:**
   - To provide statistical summaries of columns:
     ```python
     print(titanic_data.describe(include='all'))
     print(titanic_data.info())
     ```

6. **Using `.value_counts()`:**
   - To get counts of unique values for numerical variables:
     ```python
     numerical_columns = ['survived', 'pclass', 'sibsp', 'parch']
     for col in numerical_columns:
         print(f"Value counts for '{col}':")
         print(titanic_data[col].value_counts())
     ```

7. **Discrepancies in Summary Statistics:**
   - **Non-numeric Variables:** `df.describe()` by default only includes numeric columns unless `include='all'` is specified.
   - **Missing Values:** The count in `df.describe()` for each column shows non-null values, which may be less than the total number of rows in the dataset due to missing values.

**Definitions:**
- **Attribute:** Characteristics or properties of an object, like `df.shape`, which does not use parentheses.
- **Method:** Functions associated with an object, like `df.describe()`, which uses parentheses.

### chatgpt links

https://chatgpt.com/share/721404cf-71d1-4f2d-85ca-24e99449041a

https://chatgpt.com/share/870fefda-8075-4a48-8d9c-ad2404545820

# post-lecture hw

## 6

count: The number of non-null observations in the dataset for each column. number of valid data points that are present.

mean: The average value of the data points for each column. The sum of all values divided by the number of observations.

std: The standard deviation of the values for each column. It measures the dispersion or spread of the data points around the mean. 

min: The minimum value in the dataset for each column. It represents the lowest observation in the dataset.

25%: The 25th percentile of the data. This value divides the lowest 25% of the data from the rest.

50%: The 50th percentile of the data. This value divides the data into two equal halves.

75%: The 75th percentile of the data. This value divides the lowest 75% of the data from the top 25%.

max: The maximum value in the dataset for each column. It represents the highest observation in the dataset.

## 7

### 7.1

df.dropna() is preferred over del df['col'] is when there's missing data scattered across seeral rows but the rest 
of the column contains valuable information that should be kept. for example, in the titantic dataset,it’s more efficient to use df.dropna() to remove those specific rows rather than eliminating entire columns. dropping rows with missing values retains important features like age, fare, and embarkation point for analysis.Using del df['col'] would drop an entire column, which is unnecessary if the column has only a few missing values, potentially losing useful information.

### 7.2

If a column has a large percentage of missing values, like the Cabin column in the Titanic dataset, it's better to drop the column using del df['Cabin']. This preserves the rows and prevents losing important information from other columns. Using df.dropna() would remove rows with missing values, potentially losing a significant portion of the dataset. If the column isn’t critical, dropping it entirely is a more efficient.

### 7.3

Applying del df['col'] before df.dropna() helps preserve valuable rows by removing columns with 
excessive missing data first, reducing the overall amount of missing values.

Reduce Missing Data: Dropping columns with a high percentage of missing values (e.g., Cabin) 
first prevents df.dropna() from unnecessarily removing rows that are useful for other columns.

Preserve Important Data: Removing unhelpful columns before dropping rows ensures that df.dropna() 
only affects rows with missing data in critical columns (like Age or Fare).

Efficient Cleaning: This approach maximizes the retention of relevant data while simplifying the 
dataset for better analysis.

chat link: https://chatgpt.com/share/fa41d89f-eddd-4f99-b47c-e5c328c005b8

### 7.4

In [6]:
import pandas as pd 
#checking for missing values
df = pd.read_csv(url)  # Example path to the Titanic dataset

# Check for missing values
missing_data = df.isna().sum()
print(missing_data[missing_data > 0])

age            177
embarked         2
deck           688
embark_town      2
dtype: int64

In [9]:
# Suppose 'deck' has too many missing values, 
del df['deck']

Removing columns with too many missing values as it doesn't provide crucial information for the analysis or model. Since over 50% of the column is missing, it is better to remove it

In [19]:
print("Missing values before cleaning:")
print(df.isna().sum())

# Drop rows with any missing values
df_cleaned = df.dropna()

# Check for missing values after cleaning
print("\nMissing values after cleaning:")
print(df_cleaned.isna().sum())

Missing values before cleaning:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
embark_town      2
alive            0
alone            0
dtype: int64

Missing values after cleaning:
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

Removing rows with missing values when the proportion of missing data in rows is low and doesn't significantly reduce the dataset size. the number of missing values is relatively small compared to the size of the dataset, and dropping these rows won't lead to significant information loss

# 8

### 8.1

In [23]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Group by 'class' and describe 'age'
df.groupby("class")["age"].describe()

        count       mean        std   min   25%   50%   75%   max
class
First   186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
Second  173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
Third   355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

This groups the data by the passenger class ("class") and provides descriptive statistics for the "age" column for each class.

### 8.2

In [27]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

comparing df.describe and df.groupby("class")["age"].describe(). the count for describe is much higher as it is counting for the whole dataset for how many non-missing (non-null) values there are. the count for the groupby is counting how many non-missing values of col2 (which is age) exist within each group of col1 (class). each value in col1 creates a group, and within col2's group's non-missing values are counted. 



Fundamental Difference:

df.describe(): Counts per column across the whole dataset, regardless of grouping.

df.groupby("col1")["col2"].describe(): Counts per group for a specific column. This is influenced not just by missing values in col2, but also by how many rows belong to each group of col1.

Here's a summary of our interaction:

1. **Understanding `df.groupby("col1")["col2"].describe()`**:
   - We discussed that `df.groupby("col1")["col2"].describe()` groups the data by `col1` and provides summary statistics for `col2` within each group.
   - An example using the Titanic dataset was provided, where we grouped by passenger class (`class`) and described the age (`age`) distribution, showing statistics like mean, count, standard deviation, etc.

2. **Renaming Columns**:
   - Upon request, I demonstrated how to rename columns from `Pclass` to `class` and `Age` to `age` in the Titanic dataset, then performed the same `groupby` operation on the renamed columns.

3. **Explaining Count Differences**:
   - We explored the difference between the `count` value in `df.describe()` and `df.groupby("col1")["col2"].describe()`.
     - **`df.describe()`** provides the count of non-missing values for each column across the entire dataset.
     - **`df.groupby("col1")["col2"].describe()`** gives the count of non-missing values for `col2` within each group defined by `col1`.
   - This highlights that `df.describe()` reflects the overall data, while the `groupby` approach breaks the count down by group (in our case, passenger class).

This explanation helped clarify how missing data can affect these counts differently depending on the context.

### 8.3

In [1]:
# A: not importing pandas as pd

url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Group by 'class' and describe 'age'
df.groupby("class")["age"].describe()

NameError: name 'pd' is not defined

after removing the comment about not importing pandas, chat was able to figure it out.

In [4]:
# B: Mistype "titanic.csv" as "titanics.csv"

import pandas as pd

url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanics.csv"
df = pd.read_csv(url)

HTTPError: HTTP Error 404: Not Found

chat found the typo

In [8]:
# c: Try to use a dataframe before it's been assigned into the variable
import pandas as pd

url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

df.groupby("class")["age"].describe()

        count       mean        std   min   25%   50%   75%   max
class
First   186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
Second  173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
Third   355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

In [11]:
DF.groupby("class")["age"].describe()

NameError: name 'DF' is not defined

chat figured out to change DF to df

In [12]:
# D: Forget one of the parentheses somewhere the code

pd.read_csv(url`

SyntaxError: invalid syntax (1179552649.py, line 3)

chat was able to know the missing bracket

In [13]:
# E: Mistype one of the names of the chained functions with the code
df.group_by("class")["age"].describe()

AttributeError: 'DataFrame' object has no attribute 'group_by'

chat was able to take out the underscore

In [16]:
# F: Use a column name that's not in your data for the groupby and column selection

titanic_df.groupby("Sex")["age"].describe()

NameError: name 'titanic_df' is not defined

chat was able to change the capitalised letter to lowercase

In [17]:
# G: Forget to put the column name as a string in quotes for the groupby and column selection

titanic_df.groupby(Sex)["age"].describe()

NameError: name 'titanic_df' is not defined

chat was able to add the quotations to "sex"

Certainly! Here's a summary of our interaction:

1. **Initial Issue with `pd`**: You encountered a `NameError` because `pandas` was not imported. The solution was to add `import pandas as pd` to your code.

2. **HTTPError**: You faced an `HTTPError` due to an incorrect URL. The solution was to use the correct URL for the Titanic dataset.

3. **SyntaxError**: You had a `SyntaxError` caused by an extraneous backtick character. The solution was to remove the backtick and ensure correct syntax.

4. **AttributeError**: You saw an `AttributeError` because you used `group_by` instead of `groupby`. The solution was to use the correct method name `groupby`.

5. **NameError for DataFrame Variable**: You encountered a `NameError` because the DataFrame variable `titanic_df` was not defined. You should use the correct variable name, such as `df`, and ensure that column names are in quotes.

6. **Final Correction**: The final recommendation was to use `df` (or your correctly defined DataFrame variable) and the correct column names (e.g., `"sex"` instead of `Sex`) in your code.

Feel free to ask if you have more questions or need further assistance!

chat link: https://chatgpt.com/share/b6f68cff-d701-42e4-88a4-93b431b34b87

### 3B

using google meant more reading and understanding the material. with chatgpt, it gave me the code to copy and paste back and it worked, meaning that i didn't really learn or did any actually coding or understanding of the code. both were similar in speed and the time spent on troubleshooting. 

to be honest, i used the same account to ask about the code, so chat might be able to compare the already correct and used code from our previous chats about the same dataset, so that would be why chat was all correct when i was fake trouble shooting. unlike google that has everything but no memory of what i have done or have in my code. I think that using google would be better if i dont have any previous coding experience but chat having memory of my this specific code for this dataset was the reason why it was better at troubleshooting.

# 9

I couldn't figure out the wiki textbook, so no. but i use chat and read most of the posts on piazza when i needed some help.